/*@import url('https://fonts.googleleapis.com/css2?family=popp')*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins',sans-serif;
scroll-behavior: smooth;
}
body{
background-color: rgb(202, 200, 220);
}
/*scroll bar*/
::-webkit-scrollbar{
    width: 12px;

}
::-webkit-scrollbar-thumb{
    background:rgb(255, 184, 53) ;
    border-radius: 6px;
}
/*header*/
header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    z-index:1000;
}
header.sticky{
    background: rgb(6, 20, 46);
    box-shadow: 0 5px 10px rgba(0, 0, 0,1);
}
header .logo{
    position: relative;
    color: rgb(255, 184, 53);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
header .nav{
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
    list-style: none;
    margin: 10px 10px;


}
header ul li a{    
color: white;
text-decoration: none;
padding: 10px 20px;
border-radius: 5px;

}
header ul li a:hover{
background: rgb(235, 198, 30);
color:black;
box-shadow: 0 0 10px  rgb(235, 198, 30);
}
header .action .search{
padding: 5px;
margin: 5px;
display: flex;
justify-content: center;
align-items: center;
background-color: white;
border-radius: 7px;
}
header .action .search i{
    font-size:1.4em;
    margin: 5px;
    color:black;
}
header .action .search input{
    outline: none;
    border: none;
    font-size: 1em;
    color: black;
}
/* my home*/
 .banner{
    background-image:url(img/Fate-of-Game-Preservation-Games-GettyImages-1170073827.jpg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    padding:0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 border: 5px  yellow solid;
}
.banner .bg{
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.banner .bg .content{
width: 50%;
height: 100%;
}
.banner .bg .content h2{
font-size: 4em;
color: white;
letter-spacing: 1px;

}
.banner .bg .content p{
    font-size: 1em;
    color: aliceblue;
    letter-spacing: 1px;
}
.banner .bg .content a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0px;
    border:1px solid  rgb(240, 172, 45);
    text-decoration:none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
}

.banner .bg .content a:hover{
    background: rgb(240, 172, 45);
    color:black;
    border: none;
    box-shadow: 0 0 10px rgb(240, 172, 45);
}
/*about*/
.about{
    margin-top: 20px;
position: relative;
width:100%;
min-height: 75vh;
display: flex;
justify-content: space-between;
align-items: center;

border-radius: 7px;
background-color: rgb(3, 3, 21);
}
.about .contentbx{
    width: 50%;
    margin:20px;
    color: black; 
}
.about .contentbx h2{
    font-size: 3em;
    font-weight: 700;
    color: white;
}
.about .contentbx p{
    max-width: 600px;
    text-align: justify;
    color:white;
}
.about img{
    width: 100%;
    height:600px;
    object-fit: cover;
}
.about .contentbx a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0px;
    border:1px solid  rgb(240, 172, 45);
    text-decoration:none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
}
.about .contentbx a:hover{
    background: rgb(240, 172, 45);
    color:black;
    border: none;
    box-shadow: 0 0 10px rgb(240, 172, 45);
}
.games{
    background-color: rgb(2, 1, 32);
    padding:0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;

}
.games h2{
    color: white;
    margin: 10px 0;
}
.games ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.games ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
}
.games ul li.active{
    background:rgb(255, 184, 53);
    color: white;
    box-shadow: 0 0 10px rgb(255, 184, 53);;

}
.games .cardbox{
    width: 100%;
    min-height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.games .cardbox .card{
    width: 280px;
    border-radius: 10px;
    margin: 20px 40px;   
    background:#1b2141;
    overflow: hidden;
}
/* games card photos size*/
.games .cardbox .card img{
    width: 100%;
height: fit-content;
    object-fit: cover;
}
/* games card photos size*/
.games .cardbox .card .content{
  padding: 10px;  
}
.games .cardbox .card .content h4{
    color: white;
    margin: 15px 0;
}.games .cardbox .card .content .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background-color:rgb(11, 5, 61) ;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1)  forwards;
}
.games .cardbox .card .content .progress-line span{
    position: absolute;
    height: 100%;
    width:80%;
    border-radius: 10px;
    background: rgb(206, 161, 12);
    box-shadow: 0 0 10px rgb(206, 161, 12);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1)  forwards;
}

@keyframes animate{
    100% {
        transform: scaleX(1);
    }
}
.games .cardbox .card .info{
    border-top:  2px solid rgb(23, 12, 115);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.games .cardbox .card .info p{
    font-size: 1em;
    color: white;
}
.games .cardbox .card .info p span{
    color: rgb(35, 215, 251);
}
.games .cardbox .card .info a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0px;
    border:1px solid  rgb(240, 172, 45);
    text-decoration:none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
}
.games .cardbox .card .info a:hover{
    background: rgb(240, 172, 45);
    color:black;
    border: none;
    box-shadow: 0 0 10px rgb(240, 172, 45);
}
.games .cardbox .card.hide{
    display: none;
}
/*tournaments*/
.tournaments{
    padding:0px 100px;
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tournaments h2{
    color: #ffff;
    margin: 10px 0;
}
.tournaments .boxbx {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}
.tournaments .boxbx .box{
    width:350px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #1b2141;
    overflow: hidden;
}
.tournaments .boxbx .box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}
.tournaments .boxbx .box .content{
    padding: 10px;

}
.tournaments .boxbx .box .content h4{
    color: #fff;
    margin-top: 50px;
}
.tournaments .boxbx .box .content h4 span{
    color: #1aeeef;
}
.tournaments .boxbx .box .content p{
    text-align: justify;
    color: white;
    margin-top: 10px;

}
.tournaments .boxbx .box .content .btn{
    display: flex;
    justify-content: space-between;
}

.tournaments .boxbx .box .watch{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0px;
    background:rgb(240, 172, 45) ;
    border:1px solid  rgb(240, 172, 45);
    text-decoration:none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgb(240, 172, 45);
}
.tournaments .boxbx .box .watch:hover{
    background: rgb(240, 172, 45);
    color:rgb(170, 86, 86);
    border: none;
    box-shadow: none;
}

.tournaments .boxbx .box .join{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0px;
    border:1px solid  rgb(240, 172, 45);
    text-decoration:none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
}
.tournaments .boxbx .box .join:hover{
    background: rgb(240, 172, 45);
    color:black;
    border: none;
    box-shadow: 0 0 10px rgb(240, 172, 45);
}
/*contact*/
.contact{
    padding: 20px;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #02022e;
}
.contact img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.contact .form{
    width: 50%;
    margin: 30px;
}
.contact .form h1{
    color:white;

}
.contact .form .inputbox{
    margin: 10px 0;
}
.contact .form .inputbox p{
    color: #fff;
}
.contact .form .inputbox input,
.contact .form .inputbox textarea{
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: #1b2141;
    min-height: 15px;
    font-size: 1.1em;
    
}
.contact .form .inputbox textarea{
    height: 150px;
}

.contact .form .inputbox input[type="submit"]{
   display: inline-block;
   padding: 10px 20px;
   margin: 15px 0;
   outline: none;
   background: transparent;
   border: 1px solid rgb(240, 172, 45);
   text-decoration: none;
   font-weight: 700;
   width: 150px;
   border-radius: 5px;
   color: #fff;
   letter-spacing: 1px;
}
.contact .form .inputbox input[type="submit"]:hover{
    background:  rgb(240, 172, 45);
    border: none;
    color: #fff;
    box-shadow: 0 0 10px rgb(240, 172, 45);
 }
 /* footer*/
footer{
    padding: 10px 100px;
    background: #02022e;
}
footer .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .info .logo{
    position: relative;
    color:#dbd9d9;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
footer .info p{
    color: white;
}
footer .info ul{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .info ul li{
    list-style: none;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(240, 172, 45);
}
footer .info ul li:hover{
    background: rgb(240, 172, 45);
    border: none;
    box-shadow: 0 0 10px  rgb(240, 172, 45);
}
footer .info ul li a i{
    font-size: 1.5em;
    color: #fff;
}
footer .info ul li:hover a i{
    color: black;
}

/*media*/